.initial-prompt {
  margin-block: var(--spacing);
  text-align: center;

  padding: var(--spacing);
  background: var(--bg-system);
  border-radius: 8px;

  & :last-child {
    margin-bottom: 0;
  }

}

.message-list {
  > * + * {
    margin-top: var(--spacing);
  }
}

.message-item {
  position: relative;
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  background: var(--bg-user);
  border-radius: 8px;

  & :last-child,
  & li {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    --fl: 1;
  }

  &.from-agent {
    margin-right: var(--spacing);
    background: var(--bg-agent);
    border-bottom-left-radius: 0;
  }

  &.from-user {
    margin-left: var(--spacing);
    border-bottom-right-radius: 0;
    text-align: right;
  }
}
