.form {
	margin-block-start: calc(var(--spacing) * 2);
  margin-block-end: var(--spacing);
  display: flex;

  &:has(input:focus) {
    border-radius: 8px;
    outline-offset: 2px;
    outline: 1px dashed currentcolor;
  }

  &:has(button:hover) .input {
    border: 2px solid var(--fg-7);
  }
}

.input {
  margin: 0;
	padding: calc(var(--spacing) * 0.75);
	width: 100%;
	color: inherit;
	line-height: 1.6;
	background: var(--bg);
  border: 2px solid var(--fg);
  border-right-width: 0;
	border-radius: 8px 0 0 8px;

  &:focus {
    outline: none;
  }
}

.button {
  padding: calc(var(--spacing) * 0.75);
  flex-shrink: 0;
  background: var(--fg);
  color: var(--bg);
  border-radius: 0 8px 8px 0;

  &:focus-visible {
    outline-offset: -3px;
    outline: 1px dashed currentcolor;
    border-radius: 0 8px 8px 0;
  }
}