:root {
	--spacing: 1rem;
	--container-width: 72rem;

	--bg-system: var(--amber-2);
	--bg-user: var(--indigo-4);
	--bg-agent: var(--amber-4);
	--primary: var(--indigo-7);

	/* Override some drop-ins */
	--input-shadow: none;
	--font-size-min: 16;
  --font-size-max: 22;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-system: var(--pink-3);
		--bg-user: var(--green-5);
		--bg-agent: var(--pink-5);
		--primary: var(--green-8);
	}

	html {
		color-scheme: dark;
	}
}


body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header.split {
	margin-inline: auto;
	max-width: var(--container-width);
	padding: 7rem 3rem 0;
	align-items: center;

	> * {
		margin: 0;
	}
}

footer.split {
	margin-block-start: 5rem;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page {
	width: 100%;
	max-width: var(--container-width);
	padding: 5rem 3rem 7rem;
}

@media (max-width: 600px) {
	header.split {
		padding: 3rem 1.5rem 0;
		flex-direction: column;
	}

	.page {
		padding: 3rem 1.5rem;
	}
}

:lang(ko) {
	/* font-family: var(--font-ibm-plex-kr); */
	word-break: keep-all;
}

::selection {
  background: var(--highlighter-3);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-orbit);
	--lh: 1.2;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	opacity: unset;
	text-decoration: underline;
	text-decoration-color: var(--primary);
	text-decoration-thickness: 0.15em;
	text-underline-offset: 0.15em;
}

button,
.button {
  background: var(--fg);
  color: var(--bg);
  border: none;

	&:hover {
    background: var(--fg-7);
  }

	&:active {
		translate: none;
		background: var(--fg-7);
  }

	&:disabled {
    opacity: unset;
    cursor: not-allowed;
  }
}

button:focus-visible,
.button:focus-visible,
a:focus-visible {
	outline: 1px dashed currentcolor;
	outline-offset: 2px;
	border-radius: 8px;
}

input,
select,
textarea,
button {
	font-family: inherit;
  font-weight: inherit;
}

label {
	display: block;
}
