.list {
  padding: 0;
  list-style-type: none;
  
  & li {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 0.75);
  }

  & a {
    margin: 0;
  }

  & .is-level {
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background: var(--green-7);
  }

  & .level-second {
    background: var(--yellow-7);
  }

  & .level-intermediate {
    background: var(--orange-7);
  }

  & .level-event {
    background: var(--purple-8);
  }
}
